{% extends "layout.html" %}

{% block title %}
Lukuvinkki-Add
{% endblock %}

{% block body %}

<h1>Add a lukuvinkki</h1>
<h2>Lukuvinkki type: {{ lukuvinkki_type }}</h2>

<form action="/addlukuvinkki" method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <input type="hidden" name="type" id="type" value="{{ lukuvinkki_type }}">
  {% if youtube_data %}
  <div>
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" value="{{ youtube_data.title }}"/>
  </div>
  <div>
    <label for="author">Author</label><br />
    <input type="text" name="author" id="author" value="{{ youtube_data.author_name }}"/>
    </div>
  {%  else %}
  <div>
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title"/>
  </div>

  <div>
    <label for="author">Author</label><br />
    <input type="text" name="author" id="author"/>
  </div>

  {% endif %}
 

  {% if "Book" in lukuvinkki_type %}
    <div>
    <label for="ISBN">ISBN</label><br />
    <input type="text" name="ISBN" id="ISBN"/>
    </div>
  {% endif %}
  {% if youtube_data %}
  <div>
    <label for="link">Link</label><br />
    <input type="text" name="link" id="link" value="{{ youtube_data.url }}"/>
  </div>
  {% else %}
  <div>
    <label for="link">Link</label><br />
    <input type="text" name="link" id="link"/>
  </div>
  {% endif %}

  <div>
      <label for="description">Description</label><br />
      <textarea name="description" id="description" rows="4" cols="50"></textarea>
  </div>

  <div>
    <label for="comment">Comment</label><br />
    <textarea name="comment" id="comment" rows="2" cols="50"></textarea>
  </div>

  <div>
    <input type="checkbox" name="visibility" value="checked">
    <label for="visibility">Make public</label><br />
  </div>

  <div class="btn-group">
    <input type="submit" name="save_button" value="Save">
    <input type="submit" name="view_button" value="View lukuvinkkis">
  </div>
  

</form>
{% endblock %}
