{% extends "layout.html" %}

{% block title %} Change lukuvinkkitype if needed {% endblock %}

{% block body %}
    <h1> Change lukuvinkkitype if needed: </h1>
    <form action="/changetype" method="POST">
        <h3>Current lukuvinkki type: {{ lukuvinkki.lukuvinkki_type }}</h3>
        <input type="radio" name="type" id="book" value="Book" checked/>
        <label for="book">Book</label>
        <br>
        <input type="radio" name="type" id="blog_post" value="Blog post"/>
        <label for="blog_post">Blog post</label>
        <br>
        <input type="radio" name="type" id="podcast" value="Podcast"/>
        <label for="podcast">Podcast</label>
        <br>
        <input type="radio" name="type" id="video" value="Youtube"/>
        <label for="video">Youtube</label>
        <br>
        <br>
        <input type="hidden" name="lukuvinkki_id" id="lukuvinkki_id" value="{{ lukuvinkki.lukuvinkki_id }}"/>
        <input type="submit" name="submit" id="submit" value="Submit"/>
    </form>
{% endblock %}
