{% extends "layout.html" %}

{% block title %}
Change current lukuvinkki
{% endblock %}


{% block body %}
<h1>Change current lukuvinkki</h1>
<h2>Lukuvinkki type: {{ lukuvinkki_type }}</h2>

<form action="/changelukuvinkki" method="POST">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <input type="hidden" name="type" id="type" value="{{ lukuvinkki_type }}">
  <input type="hidden" name="lukuvinkki_id" id="lukuvinkki_id" value="{{ lukuvinkki.lukuvinkki_id }}">
  <div>
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" value="{{ lukuvinkki.title or '' }}" />
  </div>

  {% if "Youtube" not in lukuvinkki_type %}
    <div>
    <label for="author">Author</label><br />
    <input type="text" name="author" id="author" value="{{ lukuvinkki.author or '' }}" />
    </div>
  {% endif %}

  {% if "Book" in lukuvinkki_type %}
    <div>
    <label for="ISBN">ISBN</label><br />
    <input type="text" name="ISBN" id="ISBN" value="{{ lukuvinkki.isbn or '' }}" />
    </div>
  {% endif %}

  <div>
    <label for="link">Link</label><br />
    <input type="text" name="link" id="link" value="{{ lukuvinkki.link or '' }}"/>
  </div>

  <div>
      <label for="description">Description</label><br />
      <textarea name="description" id="description" rows="4" cols="50">{{ lukuvinkki.descript or '' }}</textarea>
  </div>

  <div>
    <label for="comment">Comment</label><br />
    <textarea name="comment" id="comment" rows="2" cols="50">{{ lukuvinkki.comment or '' }}</textarea>
  </div>

  <div class="btn-group">
    <input type="submit" name="save_button" value="Save">
    <input type="submit" name="view_button" value="View lukuvinkkis">
  </div>
  

</form>
{% endblock %}
