{% extends "layout.html" %}

{% block title %}
Change lukuvinkkitype
{% endblock %}


{% block body %}
    <form action="/changetype" method="POST">
        <h2>Current lukuvinkki type: {{ lukuvinkki.type }}</h2>
        <br>
        <input type="radio" name="type" id="book" value="Book" checked/>
        <label for="book">Book</label>
        <br>
        <input type="radio" name="type" id="blog_post" value="Blog post"/>
        <label for="blog_post">Blog post</label>
        <br>
        <input type="radio" name="type" id="podcast" value="Podcast"/>
        <label for="podcast">Podcast</label>
        <br>
        <input type="radio" name="type" id="video" value="Youtube"/>
        <label for="video">Youtube</label>
        <br>
        <br>
        <input type="hidden" name="lukuvinkki" id="lukuvinkki" value="{{ lukuvinkki.id }}"/>
        <input type="submit" name="submit" id="submit" value="Submit"/>
    </form>
{% endblock %}
