{% extends "layout.html" %}

{% block title %}
Lukuvinkki
{% endblock %}

{% block body %}
<a href="/logout">Logout</a></li>
<hr>
{% if current_user.is_authenticated %}
Welcome <b>{{ name }}</b>, what would you like to do?
{% endif %}
<ul>
    {% if current_user.is_authenticated %}
    <li><a href="/choosetype">Add a new lukuvinkki</a></li>
    <li><a href="/lukuvinkkiview">View all lukuvinkkis</a></li>
    <li><a href="/search">Search for lukuvinkkis</a></li>
    {% else %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    {% endif %}
</ul>
{% endblock %}