{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h1>Login</h1>

<p>Please Log in. If you dont have an account already, click register.

<form action="/login" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <p>
    <button>
        Login
    </button>

    <!-- placeholder for registerbutton -->
    <p>
    <div>
        <a href="/register">Register here</a>
    </div>

</form>
{% endblock %}