{% extends "layout.html" %}

{% block title %}
Lukuvinkki-View
{% endblock %}

{% block body %}
<h1>All lukuvinkkis: </h1>
<hr>
{% if all_lukuvinkki %}
    {% for lukuvinkki in all_lukuvinkki %}
        <b>Type:</b> {{ lukuvinkki.current_type }}<br>

        <b>Title:</b> {{ lukuvinkki.title }}<br>

        <b>Author:</b> {{ lukuvinkki.author }}<br>

        <b>Status:</b> {{ lukuvinkki.read_status() }}<br>

        {% if lukuvinkki.link %}
            <b>Link:</b> {{ lukuvinkki.link }}<br>
        {% endif %}

        {% if lukuvinkki.descript %}
            <b>Description:</b> {{ lukuvinkki.descript }}<br>
        {% endif %}

        {% if lukuvinkki.comment %}
            <b>Comment:</b> {{ lukuvinkki.comment }}
        {% endif %}

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ lukuvinkki.id }} name="lukuvinkki_id">
        </form>
        <br>

        <hr>
        {% endfor %}

{% endif %}
    


{% endblock %}
