{% extends "layout.html" %}

{% block title %}
Lukuvinkki-View
{% endblock %}

{% block body %}
<h1>All lukuvinkkis: </h1>
<hr>
<a href="/choosetype">Add a new lukuvinkki</a>&nbsp;
<a href="/search">Search for lukuvinkkis</a>&nbsp;
<a href="/logout">Logout</a></li>
<hr>
<h2>Own lukuvinkkis:</h2>
<hr>
{% if books %}
    <h3>Books: </h3>
    {% for book in books %}
        <b>Title:</b> {{ book.title }}<br>
        
        {% if book.author %}
            <b>Author:</b> {{ book.author }}<br>
        {% endif %}

        {% if book.isbn %}
            <b>ISBN:</b> {{ book.isbn }}<br>
        {% endif %}

        {% if book.link %}
            <b>Link: </b>
            <a href="{{ book.link }}">{{ book.link }}</a><br>
        {% endif %}

        {% if book.descript %}
            <b>Description:</b> {{ book.descript }}<br>
        {% endif %}

        {% if book.comment %}
            <b>Comment:</b> {{ book.comment }}<br>
        {% endif %}

        <b>Status:</b> {{ book.read_status() }}<br>
        <b>Visibility:</b> {{ "Public" if book.is_public else "Private" }}<br>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ book.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ book.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if blog_posts %}
    <h3>Blog posts: </h3>
    {% for blog_post in blog_posts %}

        <b>Title:</b> {{ blog_post.title }}<br>

        {% if blog_post.author %}
            <b>Author:</b> {{ blog_post.author }}<br>
        {% endif %}

        {% if blog_post.link %}
                <b>Link: </b>
                <a href="{{ blog_post.link }}">{{ blog_post.link }}</a><br>
        {% endif %}

        {% if blog_post.descript %}
            <b>Description:</b> {{ blog_post.descript }}<br>
        {% endif %}

        {% if blog_post.comment %}
            <b>Comment:</b> {{ blog_post.comment }}<br>
        {% endif %}

        <b>Status:</b> {{ blog_post.read_status() }}<br>
        <b>Visibility:</b> {{ "Public" if blog_post.is_public else "Private"}}<br>

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ blog_post.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ blog_post.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if podcasts %}
    <h3>Podcasts: </h3>
    {% for podcast in podcasts %}
        <b>Title:</b> {{ podcast.title }}<br>

        {% if podcast.author %}
            <b>Author:</b> {{ podcast.author }}<br>
        {% endif %}

        {% if podcast.link %}
                <b>Link: </b>
                <a href="{{ podcast.link }}">{{ podcast.link }}</a><br>
        {% endif %}

        {% if podcast.descript %}
            <b>Description:</b> {{ podcast.descript }}<br>
        {% endif %}

        {% if podcast.comment %}
            <b>Comment:</b> {{ podcast.comment }}<br>
        {% endif %}

        <b>Status:</b> {{ podcast.read_status() }}<br>
        <b>Visibility:</b> {{ "Public" if podcast.is_public else "Private"}}<br>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ podcast.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ podcast.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if youtubes %}
    <h3>Youtube videos: </h3>
    {% for youtube in youtubes %}
        <b>Title:</b> {{ youtube.title }}<br>

        {% if youtube.author %}
            <b>Author:</b> {{ youtube.author }}<br>
        {% endif %}

        {% if youtube.link %}
                <b>Link: </b>
                <a href="{{ youtube.link }}">{{ youtube.link }}</a><br>
        {% endif %}

        {% if youtube.descript %}
            <b>Description:</b> {{ youtube.descript }}<br>
        {% endif %}

        {% if youtube.comment %}
            <b>Comment:</b> {{ youtube.comment }}<br>
        {% endif %}

        <b>Status:</b> {{ youtube.read_status() }}<br>
        <b>Visibility:</b> {{ "Public" if youtube.is_public else "Private" }}<br>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ youtube.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ youtube.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if publics %}
    <h2>Public lukuvinkkis: </h2>
    {% for lukuvinkki in publics %}
        <b>Type:</b> {{ lukuvinkki.lukuvinkki_type }}<br>
        <b>Title:</b> {{ lukuvinkki.title }}<br>

        {% if lukuvinkki.author %}
            <b>Author:</b> {{ lukuvinkki.author }}<br>
        {% endif %}

        {% if lukuvinkki.link %}
                <b>Link: </b>
                <a href="{{ lukuvinkki.link }}">{{ lukuvinkki.link }}</a><br>
        {% endif %}

        {% if lukuvinkki.descript %}
            <b>Description:</b> {{ lukuvinkki.descript }}<br>
        {% endif %}

        {% if lukuvinkki.comment %}
            <b>Comment:</b> {{ lukuvinkki.comment }}<br>
        {% endif %}

        <b>From user id:</b> {{ lukuvinkki.user_id }}<br>

        <br>
        {% endfor %}
        <hr>
{% endif %}



{% endblock %}
