{% extends "layout.html" %}

{% block title %}
Lukuvinkki-search result
{% endblock %}

{% block body %}
{% if result %}
<h1>Your lukuvinkki-search returned: </h1>
{% else %}
<h1>Your search returned nothing.</h1>
{% endif %}
<hr>
<a href="/search">Try a new search</a>&nbsp;
<a href="/lukuvinkkiview">See all lukuvinkkis</a>&nbsp;
<a href="/choosetype">Add a new lukuvinkki</a></li>&nbsp;
<a href="/logout">Logout</a></li>
<hr>
{% if books %}
    <h2>Books: </h2>
    {% for book in books %}
        <b>Title:</b> {{ book.title }}<br>
        
        {% if book.author %}
            <b>Author:</b> {{ book.author }}<br>
        {% endif %}

        {% if book.isbn %}
            <b>ISBN:</b> {{ book.isbn }}<br>
        {% endif %}

        <b>Status:</b> {{ book.read_status() }}<br>

        {% if book.link %}
            <b>Link: </b>
            <a href="{{ book.link }}">{{ book.link }}</a><br>
        {% endif %}

        {% if book.descript %}
            <b>Description:</b> {{ book.descript }}<br>
        {% endif %}

        {% if book.comment %}
            <b>Comment:</b> {{ book.comment }}
        {% endif %}

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ book.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ book.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if blog_posts %}
    <h2>Blog posts: </h2>
    {% for blog_post in blog_posts %}

        <b>Title:</b> {{ blog_post.title }}<br>

        {% if blog_post.author %}
            <b>Author:</b> {{ blog_post.author }}<br>
        {% endif %}

        <b>Status:</b> {{ blog_post.read_status() }}<br>

        {% if blog_post.link %}
                <b>Link: </b>
                <a href="{{ blog_post.link }}">{{ blog_post.link }}</a><br>
        {% endif %}

        {% if blog_post.descript %}
            <b>Description:</b> {{ blog_post.descript }}<br>
        {% endif %}

        {% if blog_post.comment %}
            <b>Comment:</b> {{ blog_post.comment }}
        {% endif %}

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ blog_post.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ blog_post.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if podcasts %}
    <h2>Podcasts: </h2>
    {% for podcast in podcasts %}
        <b>Title:</b> {{ podcast.title }}<br>

        {% if podcast.author %}
            <b>Author:</b> {{ podcast.author }}<br>
        {% endif %}

        <b>Status:</b> {{ podcast.read_status() }}<br>

        {% if podcast.link %}
                <b>Link: </b>
                <a href="{{ podcast.link }}">{{ podcast.link }}</a><br>
        {% endif %}

        {% if podcast.descript %}
            <b>Description:</b> {{ podcast.descript }}<br>
        {% endif %}

        {% if podcast.comment %}
            <b>Comment:</b> {{ podcast.comment }}
        {% endif %}

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ podcast.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ podcast.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}

{% if youtubes %}
    <h2>Youtube videos: </h2>
    {% for youtube in youtubes %}
        <b>Title:</b> {{ youtube.title }}<br>

        {% if youtube.author %}
            <b>Author:</b> {{ youtube.author }}<br>
        {% endif %}

        <b>Status:</b> {{ youtube.read_status() }}<br>

        {% if youtube.link %}
                <b>Link: </b>
                <a href="{{ youtube.link }}">{{ youtube.link }}</a><br>
        {% endif %}

        {% if youtube.descript %}
            <b>Description:</b> {{ youtube.descript }}<br>
        {% endif %}

        {% if youtube.comment %}
            <b>Comment:</b> {{ youtube.comment }}
        {% endif %}

        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="change_status_button" value="Change status">
            <input type="hidden" value={{ youtube.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <form action="/lukuvinkkiview" method="POST">
            <input type="submit" name="edit_button" value="Edit">
            <input type="hidden" value={{ youtube.lukuvinkki_id }} name="lukuvinkki_id">
        </form>
        <br>
        {% endfor %}
        <hr>
{% endif %}


{% endblock %}
